<h2 class="title">
    Dozens of
    <br />
    components
</h2>
<tui-input-tag
    class="tui-space_vertical-10"
    [tuiHintContent]="hint"
    [tuiTextfieldLabelOutside]="true"
    [(ngModel)]="tags"
/>

<ng-template #hint>
    <span [innerHtml]="purify('Customizable for <b>any use</b> case')"></span>
</ng-template>

<div class="flex">
    <div class="date">
        <tui-input-date
            required
            [(ngModel)]="date"
            (click.capture.stop)="(0)"
            (keydown.capture.stop)="(0)"
            (mousedown.capture.stop)="(0)"
        >
            Choose date
        </tui-input-date>
        <tui-calendar
            class="calendar"
            [tuiDropdownOpen]="false"
            [value]="date"
            (dayClick)="onDay($event)"
            (event.prevent.silent)="(0)"
        />
    </div>
    <div>
        <tui-checkbox-labeled
            *ngFor="let label of labels"
            size="l"
            class="tui-space_bottom-4"
            [ngModel]="label === labels[1]"
        >
            {{ label }}
        </tui-checkbox-labeled>
    </div>
    <div class="controls">
        <label>
            <tui-toggle
                size="l"
                class="tui-space_right-3"
                [showIcons]="true"
                [(ngModel)]="notification"
            />
            Push notification
        </label>
        <input
            size="m"
            step="any"
            tuiSlider
            type="range"
            class="tui-space_vertical-6"
            [max]="140"
            [(ngModel)]="slider"
        />
        <div class="icons">
            <button
                appearance=""
                icon="tuiIconVolumeXLarge"
                shape="rounded"
                title="Mute speaker"
                tuiIconButton
                type="button"
                class="button"
                (click)="slider = 0"
            ></button>
            <button
                appearance=""
                icon="tuiIconMicOffLarge"
                shape="rounded"
                title="Mute microphone"
                tuiIconButton
                type="button"
                class="button"
            ></button>
            <button
                appearance=""
                icon="tuiIconPhoneForwardedLarge"
                shape="rounded"
                title="Forward call"
                tuiIconButton
                type="button"
                class="error"
                (click)="call(callTemplate)"
            ></button>
        </div>
    </div>
</div>

<tui-editor
    [tools]="builtInTools"
    [(ngModel)]="editor"
>
    Typing...
</tui-editor>

<ng-template
    #callTemplate
    let-observer
>
    <div class="call gradient-border">
        <div class="person">
            <img
                alt="author"
                loading="lazy"
                src="https://avatars.githubusercontent.com/u/11832552"
            />
            <h3>Aleksandr Inkin</h3>
        </div>

        <div class="buttons">
            <button
                appearance="custom"
                iconRight="tuiIconPhone"
                size="m"
                tuiIconButton
                class="missed"
                (click)="observer.complete()"
            ></button>
            <button
                appearance="custom"
                iconRight="tuiIconPhone"
                size="m"
                tuiIconButton
                class="income"
                (click)="observer.complete()"
            ></button>
        </div>
    </div>
</ng-template>

<tui-push
    *tuiPush="notification"
    heading="Indiana Jones"
    type="Dr. Henry Walton Jones, Jr."
    (close)="toggle(false)"
>
    <tui-svg src="tuiIconMessageSquareLarge" />
    I have a bad feeling about this...
    <button
        tuiButton
        type="button"
        (click)="toggle(false)"
    >
        Fortune
    </button>
    <button
        tuiLink
        type="button"
        (click)="toggle(false)"
    >
        Glory
    </button>
</tui-push>

<br />

<tui-accordion>
    @for (item of questions; track $index) {
        <tui-accordion-item [open]="true">
            {{ item.question }}
            <ng-template tuiAccordionItemContent>{{ item.answer }}</ng-template>
        </tui-accordion-item>
    }
</tui-accordion>
