@import '@taiga-ui/styles/taiga-ui-global.less';

* {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--tui-text-01);
}

app {
    display: block;
    padding: 2.75rem 3rem;
}
