// TODO: (Taiga UI migration) Global styles will be removed in next major release. Include their source code in your project if you still require them: https://github.com/taiga-family/taiga-ui/blob/main/projects/legacy/styles/taiga-ui-global.less
@import '@taiga-ui/legacy/styles/taiga-ui-global.less';
@import '@taiga-ui/addon-mobile/styles/taiga-ui-mobile.less';

* {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--tui-text-primary);
}

app {
    display: block;
    padding: 2.75rem 3rem;
}
