@import '@taiga-ui/core/styles/taiga-ui-local.less';
@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import '@taiga-ui/styles/taiga-ui-global.less';

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

app {
    display: block;
    padding: 2.75rem 3rem;
}
